<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="style_for_pages card" id="<%= dom_id department %>">
  <p class="card-header">
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p class="card-body">
    <strong>Address:</strong>
    <%= department.address %>
  </p>

  <p class="card-body">
    <strong>Founding date:</strong>
    <%= department.founding_date %>
  </p>

</div>
